.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixed position to stay at the top */
  top: 0; /* Align to the top */
  z-index: 1000; /* Ensure it stays above other content */
  border-radius: 135px;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #007bff;
}

.language-switcher {
  display: flex;
  align-items: center;
}

.language-switcher button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-switcher button:hover {
  background-color: #0056b3;
}
